<a href="/topics"><h1>${topicsData.name}</h1></a>
<hr>
<div class="current green">
    <h3>I am currently ${topicsData.ranking_title} at ${topicsData.name}.</h3>
</div>
<div class="new">
    <p class="pink">My new rating for ${topicsData.name} is: 
        <form action="/topics/${topicsData.id}" method="POST">
            ${statusData.map(status => 
                `<div class="choices">
                    <input type="radio" id="Unranked" name="topic_score" value="${status.id_rank}" ${topicsData.topic_score === status.id_rank ? 'checked' : ''}>
                    <label class="blue" for="Unranked">${status.ranking_title}</label>
                </div>`
            ).join('')}
            <button type="submit">Submit Changes</button>
        </form>
    </p>
</div>