<h1>${title}</h1>
<hr>
<section>
    <img src="/images/december_coding.jpg" alt="Computer with holiday scene in background">
</section>
<p class="blue about">I am part of the <span class="pink">December 2020</span> cohort from <span class="green">DigtitalCrafts</span>. <br>So far, we have learned serveral <span class="green">topics</span>, i.e. <span class="pink">languages</span> and <span class="pink">frameworks</span>. <br></p>
<hr>
<a href="/topics"><div class="enter">
    <h2>ENTER</h2>
</div></a>
<p class="blue">
    When you <span class="green">enter</span>, you will see my <span class="pink">rating</span> based upon my comfort level so far with each topic.
</p>